html {
  font-size: 16px;
}
body {
  margin: 0;
}
p {
  font-family: "Quicksand", Georgia, serif;
  font-size: 1.5rem;
  color: #333333;
}
a {
  text-decoration: none;
  color: white;
  font-family: "Quicksand", Helvetica, sans-serif;
}
.right a:hover{
  text-decoration: underline;
}
h1, h2, h3 {
  font-family: "Playfair Display", Georgia, serif;
  font-weight: 700;
  color: #333333
}
h1 {
  text-align: center;
  font-size: 4.5rem;
}
h2 {
  font-size: 3rem;
  text-align: center;
}
h3 {
  font-size: 1.5rem;
}
img {
  width: 100%;
}

/*
NAVBAR
*/

header {
  top: 0;
  height: 50px;
  padding: 20px;
  background-color: #9FC7AA;
}
header .desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.links {
  padding-right: 30px;
}
.links h2 {
  font-size: 2rem;
}
header h2 {
  margin: 0;
}
header .mobile {
  display: none;
}
.left, .left img {
  height: 100%;
}
.left img {
  width: 55px;
}

/*
WELCOME SECTION
*/

.welcome {
  background-color: #9FC7AA;
  text-align: center;
  padding: 100px 20px 200px 20px;
}

.welcome img {
  padding: 150px;
  width: 500px;
  border-bottom: 1px solid white;
}

/*
Intro section
*/
.intro h2 {
  margin: 50px;
}
.intro p {
  font-family: "Playfair Display", Georgia, serif;
}
.intro {
  padding: 30px;
}
.introsection {
  display: flex;
  justify-content: center;
}
.text {
  max-width: 360px;
  padding-right: 100px;
}
.container {
  width: 300px;
  padding-left: 100px;
}

/*
ABOUT ME SECTION
*/
.about {
  background-color: #9FC7AA;
  padding: 60px 40px;
  display: flex;
  justify-content: space-evenly;
}
.about h2, .about p {
  color:white;
  text-align: left;
}
.aboutinfo {
  max-width: 500px;
  padding: 0px 40px;
}
.abouttext {
  padding: 0 100px 100px 0;
  border-right: 3px solid white;
}

/*
COACHING PROGRAMMES
*/
.coaching {
  padding-top: 50px;
  padding-bottom: 100px;
}
.programmes {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
}
.photo-box {
  width: 180px;
  text-align: center;
}
.photo-box img {
  border-radius: 50%;
  border: 15px solid #9FC7AA;
  box-sizing: border-box;
}
.photo-box:hover {
  cursor: pointer;
  opacity: 70%;
}
.splitline {
  width: 20%;
  border: 3px solid #9FC7AA;
  margin: 0 auto;
}


/*
WORK WITH ME
*/

.work {
  padding: 40px;
  background-color: #A88E7E;
  text-align: center;
}
.work h2, .work p{
  color: white;
}
form {
  margin: 0 auto;
  padding: 1rem;
  display: inline-block;
}
input, textarea {
  margin-bottom: 15px;
  padding: 20px;
  border: none;
  box-shadow: none;
  background-color: #333333;
  font-size: 1rem;
}
input {
  width: 100%;
  display: block;
}
textarea {
  width: 100%;
}
button {
  border: 1px solid white;
  color: #9FC7AA;
  background-color: white;
  font-size: 1rem;
  padding: 15px 30px;
  text-align: center;
  font-family: 'Quicksand', Helvetica, sans-serif;
  transition: opacity 0.5s ease;
  float: left;
  margin-top: 20px;
}
button:hover {
  cursor: pointer;
  opacity: 70%;
}
