:root {
  --main-bg-colour: #9FC7AA;
  --main-font-type: 'Quicksand';
  --heading-font-type: 'Playfair Display';
  --main-text-colour: #333333;
}
@font-face {
  font-family: "BrittanySignature";
  src: url('../BrittanySignature.woff') format('woff');
}

html {
  font-size: 16px;
  scroll-padding-top: 90px;
}
body {
  margin: 0;
  scroll-behavior: smooth;
}
p {
  font-family: var(--main-font-type, 'Helvetica');
  font-size: 1.4rem;
  color: var(--main-text-colour);
}
a {
  text-decoration: none;
  color: white;
  font-family: var(--main-font-type, 'Helvetica');
}
h1, h2, h3 {
  font-family: var(--heading-font-type, 'Georgia');
  font-weight: 700;
  color: var(--main-text-colour)
}
h1 {
  text-align: center;
  font-size: 4.5rem;
}
h2 {
  font-size: 2rem;
  text-align: center;
  margin: 15px 0;
}
h3 {
  font-size: 1.5rem;
}
img {
  width: 100%;
}

/*
NAVBAR
*/

header {
  top: 0;
  height: 50px;
  padding: 20px;
  background-color: var(--main-bg-colour);
  position: sticky;
}
header .desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.links {
  padding-right: 30px;
}
.links h2 {
  font-size: 2rem;
}
header h2 {
  margin: 0;
}
header .mobile {
  display: none;
}
.left, .left img {
  height: 100%;
}
.left img {
  width: 55px;
}
.right .links:hover{
  text-decoration: underline;
}

li {
  list-style-type: none;
}

.mobile img {
  width: 55px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  text-decoration: underline;
}

ul {
  padding: 0;
  margin: 0;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: white;
}

/*
WELCOME SECTION
*/

.welcome {
  background-color: var(--main-bg-colour);
  text-align: center;
  padding: 100px 20px;
}

.welcome img {
  max-width: 500px;
  border-bottom: 1px solid white;
}

/*
Intro section
*/
.intro {
  padding: 30px;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.intro h2 {
  margin: 20px 5px 30px 5px;
  font-family: BrittanySignature;
}
.intro p {
  font-family: var(--heading-font-type, 'Georgia');
}
.introsection {
  display: flex;
}
.text {
  max-width: 400px;
  padding-left: 20px;
}
.container {
  width: 240px;
  padding-left:100px;
  flex-shrink: 0.3;
}

/*
ABOUT ME SECTION
*/
.about {
  background-color: var(--main-bg-colour);
  padding: 60px 40px;
  display: flex;
  justify-content: center;
}
.picture {
  max-width: 325px;
  flex-shrink: 0.6;
}
.about h2, .about p {
  color:white;
  text-align: left;
}
.aboutinfo {
  max-width: 500px;
  padding: 0px 40px;
}
.abouttext {
  padding: 0 80px 50px 0;
  border-right: 3px solid white;
}
.about button {
  background-color: white;
  color: var(--main-bg-colour);
  margin: 0;
}

/*
COACHING PROGRAMMES
*/
.coaching {
  padding: 40px 0;
}
.programmes {
  display: flex;
  justify-content: center;
  padding: 0 20px;
  flex-wrap: wrap;
}
.photo-box {
  width: 180px;
  text-align: center;
  padding: 20px;
}
.photo-box img {
  border-radius: 50%;
  border: 15px solid var(--main-bg-colour);
  box-sizing: border-box;
}
.photo-box:hover {
  cursor: pointer;
  opacity: 70%;
}
.splitline {
  width: 26%;
  border: 1px solid var(--main-bg-colour);
  margin: 0 auto;
}

/*
WHAT IS A HEALTH COACH
*/
.explain {
  padding-bottom: 20px
}

.explain h2 {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 0 auto;
  padding: 15px;
}

.explain-container {
  display:flex;
  margin: 40px 0;
  justify-content: center;
  flex-wrap: wrap;
}

.explain-box {
  width: 200px;
  padding: 10px;
}

.explain-box:hover {
  cursor: pointer;
  opacity: 90%;
}

.explain .splitline {
  border: 1px solid white;
  margin-top: -40px;
}

.background {
  background-color: var(--main-bg-colour);
  height: 200px;
  margin-top: -150px;
}

/*
CONTACT ME
*/

.contact {
  padding: 40px;
  text-align: center;
}
.contact h2, .contact p{
  color: var(--main-text-colour);
}
form {
  margin: 0 auto;
  padding: 1rem;
  background-color: hsla(137, 26%, 90%, 1);
}
input, textarea {
  margin-bottom: 15px;
  padding: 20px;
  border: none;
  box-shadow: none;
  font-size: 1rem;
}
input {
  display: inline-block;
  color: var(--main-text-colour);
}
input.name {
  min-width: 200px;
}
input.email {
  min-width: 300px;
}

textarea {
  min-width: 500px;
  margin: 0 auto;
  color: var(--main-text-colour);
  display: block;
}
button {
  border: 1px solid var(--main-bg-colour);
  color: white;
  background-color: var(--main-bg-colour);
  font-size: 1rem;
  padding: 15px 30px;
  text-align: center;
  font-family: var(--main-font-type, 'Helvetica');
  transition: opacity 0.5s ease;
  display:block;
  margin: 10px auto;
}
button:hover {
  cursor: pointer;
  opacity: 70%;
}

@media only screen and (max-width: 768px){
  p {
    font-size: 1rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  header .desktop {
    display: none;
  }
  
  header .mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 90px;
    gap: 0;
    flex-direction: column;
    background-color: var(--main-bg-colour);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .intro {
    padding: 20px;
  }

  .container {
    padding-left: 20px;
  }

  .about {
    padding: 30px 20px;
  }

  .abouttext {
    padding: 0 20px 0 0 ;
  }

  .explain-container {
    margin: 40px auto;
    max-width: 600px;
  }

  textarea {
    min-width: 0;
    width: 80%;
  }
}

@media only screen and (max-width: 480px) {
  .abouttext {
    padding: 0;
    border: none;
  }

  button {
    padding: 5px 10px;
  }

  .aboutinfo {
    padding: 0px 10px;
  }

  input.name {
    min-width: 0;
    width: 50%;
  }

  input.email {
    min-width: 0;
    width: 80%;
  };
}
