html {
  font-size: 16px;
}

body {
  margin: 0;
}

p, li {
  font-family: "Crimson Text", serif;
  font-size: 1.25rem;
} 
 
a {
  text-decoration: none;
  color: black;
}

h1 {
  text-align: center;
  letter-spacing: 4px;
  font-size: 4rem;
  font-family: 'Crimson Text', serif;
}

h2 {
  font-family: "Crimson Text", sans-serif;
  font-size: 2rem;
}

h3 {
  font-family: "Crimson Text", sans-serif;
  font-size: 1.5rem;
}

/*
NAVBAR
*/

header {
  top: 0;
  height: 50px;
  padding: 20px;
}

header .desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.links {
  padding: 0 20px;
  font-family: "Crimson Text", serif;
  font-size: 1.25rem;
}

header h2 {
  margin: 0;
}

header .mobile {
  display: none;
}

/*
WELCOME SECTION
*/

.welcome {
  background-color: #f4ddd0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

/*
#ffc1b9
#f8dbd7
#e1cec3
*/

.message {
  width: 600px;
  padding-right: 20px;
}

.message h1 {
  margin: 20px 0;
}

.welcimg {
  width: 350px;
  flex-shrink: 2;
}

.welcimg img {
  width: 100%; 
}

/*
ABOUT ME SECTION
*/

.about {
  padding: 20px 0;
}

.about h2 {
  text-align: center;
}

.aboutcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.mephoto {
  width: 50%;
}

.mephoto img {
  width: 100%;
}

.metext {
  width: 50%;
  padding-left: 20px;
  text-align: justify;
}

/*
QUOTE BANNER
*/

.quote {
  background-image: url("../images/quotepic2.jpg");
  width: 100%;
  background-size: cover;
  background-position: center center;
  padding: 50px 0px;
  text-align: center;
}

.quote h3 {
  color: white;
  font-size: 1.75rem;
}